<aside class="left-sidebar pl-3 pr-3 mt-3" data-sidebarbg="skin6">
  <div class="scroll-sidebar">
    <nav class="sidebar-nav">
      <ul id="sidebarnav">

        <li class="p-15 m-t-10">
          <a
            href="#urunekle"
            class="
              btn btn-block
              create-btn
              text-white
              no-block
              d-flex
              align-items-center
            "
          >
            <i class="fa fa-plus-square"></i>
            <span class="hide-menu m-l-5 p-2">Ürün Ekle</span>
          </a>
        </li>
        <li class="mt-3">
          <a
            href="#urunsil"
            class="
              btn btn-block
              bg-danger
              text-white
              no-block
              d-flex
              align-items-center
            "
          >
            <i class="fa fa-trash"></i>
            <span class="hide-menu m-l-5 p-2">Ürün Sil</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</aside>
