<div class="tab-pane fade" id="pills-cam-plan" role="tabpanel">
  <div class="row g-3">
    <div class="col-6 col-md-4">
      <!-- Button trigger modal -->
      <button
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#wintergarden"
      >
        <div>
          <img
            src="../img/gallery/cam/kis-bahcesi/Kis-bahcesi-1.jpg"
            alt="Kış Bahçei"
            class="img-thumbnail"
          />
          <h4>KIŞ BAHÇESİ</h4>
        </div>
      </button>
      <!-- Modal -->
      <div
        class="modal fade"
        id="wintergarden"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel"
        aria-hidden="true"
      >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <div class="row">
                  <div
                    class="col-md-8">
                  
                    <img
                      src="../img/gallery/cam/kis-bahcesi/Kis-bahcesi-1.jpg"
                      alt="Kış Bahçesi"
                      class="img-thumbnail"
                      id="bir"
                    />
                  </div>
                  <div class="col-md-4 pt">
                    <div class="col-sm-12">
                      <div class="display-5 text-center">
                        KIŞ BAHÇESİ
                      
                      </div>
                      <p class="mt-5 icerik-yazi">
                        <strong>Kış Bahçesi</strong> sayesinde kişisel bahçenize ya da ticari
                        işletmenize yeni bir hava katmak, bu hava ile birlikte
                        her mevsimin ayrı ayrı tadını çıkartmak ister misiniz?
                        Kış bahçesi ismi verilen bu yapılar, size bu olanağı
                        sonuna kadar sunuyor. Her türlü bahçeye ve mekana
                        kolaylıkla uyum sağlayan ve mekanlar için özel dizayn
                        edilip uygulanabilen bu yapılar, mekanlarınızın
                        çehresini yüzde yüz oranında değiştirmeye aday…
                      </p>
                      <br />
                      <p class="mt-3 icerik-yazi">
                        <strong>Kış Bahçesi</strong>ni uyguladığınız yerde inanılmaz bir
                        değişiklik sizleri bekliyor. Bu yapının uygulanması ile
                        birlikte, bulunduğunuz mekanın, büyük ölçüde değiştiğini
                        ve iyileştiğini göreceksiniz. Bu yapının uygulandığı
                        yerler hem tasarım bakımından daha güzel bir hal alır,
                        hem de size çok farklı şeyler yaşatabilir. Bu yapı
                        sayesinde mevsimlerin güzelliklerini sonuna kadar
                        hissetme imkanına sahip olursunuz.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-4">
      <!-- Button trigger modal -->
      <button type="button" data-bs-toggle="modal" data-bs-target="#giyotincam">
        <div>
          <img
            src="../img/gallery/cam/giyotin-cam/giyotin-cam.jpg"
            alt="Gİyotin Cam"
            class="img-thumbnail"
          />
          <h4>Giyotin Cam</h4>
        </div>
      </button>
      <div
        class="modal fade"
        id="giyotincam"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button
                type="button"
                class="btn-close bg-white"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <div class="row">
                  <div
                    class="col-md-8">
                    <img
                      src="../img/gallery/cam/giyotin-cam/giyotin-cam.jpg"
                      alt="Giyotin Cam"
                      class="img-thumbnail"
                      
                    />
                  </div>
                  <div class="col-md-4 pt">
                    <div class="col-sm-12">
                      <div class="display-5 text-center">GİYOTİN CAM</div>
                      <p class="mt-5 icerik-yazi">
                        <strong>Giyotin Cam</strong> (<strong> Hareketli Küpeşte</strong>) otel, ev, mağaza,
                        restorant, pastahane, <strong>Kış Bahçesi</strong>, teraslarda vb.
                        yerlerde kullanabilirsiniz. Diğer sistemlere göre daha
                        kullanışlıdır. Bir tuşla kapalı mekanı açık mekana
                        çevirebilecek şekilde tasarlanmıştır. Sistem aşağı ve
                        yukarı doğru hareket ederek açılıp kapanmaktadır. 3
                        kanatlı olarak yalıtımlı ve tek cam seçenekleri vardır.
                        Kanadın biri sabit diğer ikisi hareket eder. Hareket
                        eden kanatları istediğiniz seviyede durdurabilirsiniz.
                        İster yarım ister tam açabilirsiniz. Sistem tercihe göre
                        hem aşağıda hem de yukarıda toplanabilir. Kapalı iken su
                        ve hava asla geçirmez. Yalıtımlı cam ile mükemmele yakın
                        sonuçlar verir. Modern ve zarif görüntüsü ile her ortama
                        uyum sağlar. <strong>Giyotin Cam</strong> (<strong> Hareketli Küpeşte</strong>)
                         emsallerine göre en sessiz çalışanıdır. Bunun
                        sebebi özel tasarladığımız kayış ve dişli sistemidir.
                        Sistemin üstünde motor bölümümüz Alüminyum profillerden
                        özel tasarladığımız kutu içerisinde yer alır.
                        İstenildiğinde sistem sökülmeden sadece motor kutu
                        kapağı sökülerek kolaylıkla sökülüp bakıma alınabilir.
                        Sistemin tüm alüminyum profil aksamlarında kullanılan
                        boya anti-fingerprint (parmak izi bırakmaz ), leke
                        tutmaz boyadır. Yan dikme profillerinde hareketin
                        olmadığı kanallar, özel tasarlanmış estetik kapak
                        profilleri ile kapatılır.
                      </p>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-4">
      <!-- Button trigger modal -->
      <button
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#ruzgarkesicicam"
      >
        <div>
          <img
            src="../img/gallery/cam/ruzgar-kesici-cam/ruzgar-kesici-cam-1.jpg"
            alt="Rüzgar Kesici Cam"
            class="img-thumbnail"
          />
          <h4>Rüzgar Kesici Cam</h4>
        </div>
      </button>
      <!-- Modal -->
      <div
        class="modal fade"
        id="ruzgarkesicicam"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button
                type="button"
                class="btn-close bg-white"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <div class="row">
                  <div
                    class="col-md-8">
                    <img
                      src="../img/gallery/cam/ruzgar-kesici-cam/ruzgar-kesici-cam-1.jpg"
                      alt="Rüzgar Kesici Cam"
                      class="img-thumbnail"
                      
                    />
                  </div>
                  <div class="col-md-4 pt ">
                    <div class="col-sm-12 ">
                      <div class="display-5 text-center">RÜZGAR KESİCİ CAM</div>
                      <p class="mt-5 icerik-yazi">
                        Kulandığınız terasın balkonun ve bahçenizin daha
                        konforlu ve güvenli hale getiren <strong>Rüzgar Kesici
                          Cam</strong> ayarlanabilir yükseklik ile acık bir teras ve bolkon
                        seçeneği ile rüzgarlı ve soğuk havalarda yükseklik
                        ayarlanabilir cam ile bulunduğunuz ortamı daha güvenli
                        ve konforlu hale getirmektedir. Bakım gerektirmeyen
                        rahat ve kullanışlı <strong>Rüzgar Kesici
                          Cam</strong> ile
                        terasınızın bahçenizin ve bolkonunuzun konforunu
                        arttırın. <strong>Rüzgar Kesici
                          Cam</strong> Sistemi dikey olarak hareket
                        eden iki adet cam panelden oluşmaktadır. Alt panel cam
                        sabit , üst cam panel dikey olarak hareket etmektedir.
                        Rüzgarlık yüksekliğini manuel olarak ayarlayabilirsiniz.
                        Alüminyum profillerden yapılmıştır ve standart tasarım
                        lamine güvenlik camını içerir.
                      </p>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6 col-md-4">
      <!-- Button trigger modal -->
      <button type="button" data-bs-toggle="modal" data-bs-target="#camtavan">
        <div>
          <img
            src="../img/gallery/cam/cam-tavan/cam-tavan-1.jpg"
            alt="Cam Tavan"
            class="img-thumbnail"
          />
          <h4>Cam Tavan</h4>
        </div>
      </button>
      <!-- Modal -->
      <div
        class="modal fade"
        id="camtavan"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button
                type="button"
                class="btn-close bg-white"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <div class="row">
                  <div
                    class="
                      col-md-8">
                    <img
                      src="../img/gallery/cam/cam-tavan/cam-tavan-1.jpg"
                      alt="Cam Tavan"
                      class="img-thumbnail"
                      
                    />
                  </div>
                  <div class="col-md-4 pt ">
                    <div class="col-sm-12">
                      <div class="display-5 text-center">CAM TAVAN</div>
                      <p class="mt-5 icerik-yazi">
                        <strong>Cam tavan </strong> sistemleri evlerine, iş yerlerine eşsiz bir
                        görünüm kazandıran yegane çözümdür. Güneş insanın en
                        önemli besin kaynağı olmasının yanı sıra vücudun kendini
                        organize etmesinde de etkin rol oynar. <strong>Cam tavan </strong>
                        sistemleri sayesinde eviniz, iş yerleriniz daha çok ışık
                        alır bu sayede her zamankinden daha fazla enerjik
                        hissedersiniz. Sağlık yanını bir kenara bırakırsak; cam
                        tavan sistemlerinin yoğun bir şekilde kullanılmasının en
                        önemli nedenlerinin başında; yapılara eşsiz dekoratif
                        bir görünüm kazandırması ve dahil olduğu her yapıya,
                        prestij kazandırmasıdır. Evinize özel çözümleri hayal
                        edin. Geceleri yıldızların keyfini çıkartabileceğiniz
                        bir çatı katı, <strong>Cam tavan </strong> sistemi ile yaratıcılığınıza,
                        evinizin dekorasyonuna güzellik katın. Size özel
                        çözümlere en hızlı şekilde ulaşmak için bizimle
                        iletişime geçebilirsiniz.
                      </p>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6 col-md-4">
      <!-- Button trigger modal -->
      <button
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#katlanircam"
      >
        <div>
          <img
            src="../img/gallery/cam/katlanir-cam/katlanir-cam.jpg"
            alt="Katlanır Cam"
            class="img-thumbnail"
          />
          <h4>Katlanır Cam</h4>
        </div>
      </button>
      <!-- Modal -->
      <div
        class="modal fade"
        id="katlanircam"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button
                type="button"
                class="btn-close bg-white"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <div class="row">
                  <div
                    class="
                      col-md-8"
                  >
                    <img
                      src="../img/gallery/cam/katlanir-cam/katlanir-cam.jpg"
                      alt="Katlanır Cam"
                      class="img-thumbnail"
                      
                    />
                  </div>
                  <div class="col-md-4 pt ">
                    <div class="col-sm-12 ">
                      <div class="display-5 text-center">KATLANIR CAM</div>
                      <p class="mt-5 icerik-yazi">
                        <strong>Katlanır Cam</strong> Sistemleri, ev, iş yerleri ve diğer
                        mekanlarda fonksiyonel ve şık ortamlar yaratmanın en
                        estetik yoludur. <strong>Katlanır Cam</strong>, olumsuz hava şartlarında
                        kapalı tutularak maruz kalınabilecek olumsuz dış
                        etkenlere karşı etkin koruma sağlamaktadır. <strong>Katlanır Cam</strong>
                        Sistemleri ile mekanlardan dört mevsim boyunca en
                        işlevsel şekilde yararlanılabilmektedir. Sağlam ve güçlü
                        yapısı ile ses ve ısı yalıtımına da katkıda
                        bulunmaktadır. Çeşitli renk ve tasarımları ile
                        mekanlarla uyumlu ve şık görünüm elde edilmektedir.
                        Mimari tasarımları, konsepte uygun profil ve cam renk
                        seçenekleri ile görsel olarak mekanlara değer katmakla
                        birlikte, dış manzara kapanmadan ortamın keyfine
                        varmanıza olanak sağlamaktadır.
                      </p>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6 col-md-4">
      <!-- Button trigger modal -->
      <button type="button" data-bs-toggle="modal" data-bs-target="#surmecam">
        <div>
          <img
            src="../img/gallery/cam/surme-cam/surme-cam-1.jpg"
            alt="Sürme Cam"
            class="img-thumbnail"
          />
          <h3>Sürme Cam</h3>
        </div>
      </button>
      <!-- Modal -->
      <div
        class="modal fade"
        id="surmecam"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button
                type="button"
                class="btn-close bg-white"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <div class="row">
                  <div
                    class="col-md-8">
                    <img
                      src="../img/gallery/cam/surme-cam/surme-cam-1.jpg"
                      alt="Sürme CAm"
                      class="img-thumbnail"
                      
                    />
                  </div>
                  <div class="col-md-4 ">
                    <div class="col-sm-12">
                      <div class="display-5 text-center">SÜRME CAM</div>
                      <p class="mt-5 icerik-yazi">
                        Cafe, Restaurant, bar, pastane, lokanta gibi ortamları
                        güzelleştirmek ve nezih bir ortam yaratmak için <strong>Sürme Cam</strong>
                        sistemleri kısa bir süre içerisinde yaygın bir hale
                        gelmiştir. Eşiksiz <strong>Sürme Cam</strong> Sistem, altaki rayın yüksekliği
                        1 cm dir giriş ve çıkışlarda ayak takılmaması için
                        tasarlanmış modern bir sistemdir. Alt kasa profili
                        üzerinde hareket etmektedir. Eşikli ve eşiksiz olarak
                        tercih edilebilir. Mekandaki kısıtlamaları, istenmeyen
                        görüntü ve alan kaybını ortadan kaldırır. Ferah ve
                        modern ortamlar sunar. Rüzgar, yağmur, kar, toz, vb.
                        olumsuz hava koşullarında özel profiller sayesinde dış
                        etkilerden koruma sağlar. Arzu edildiği hallerde
                        istenilen yöne kayma imkânı sayesinde teshirde ve
                        kullanımda ferah ve geniş ortamlar sunar. Kayar
                        kanatları sayesinde tamamen iç ve dış mekanlar arasında
                        bütünlük sağlar. Bu sistem için kullanılmakta olan 8-mm
                        ve 4+12+4 ısı camlı temperli cam sayesinde tam bir
                        güvenlik sağlanır.
                      </p>
                    </div>
                  </div>
                
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6 col-md-4">
      <!-- Button trigger modal -->
      <button type="button" data-bs-toggle="modal" data-bs-target="#cambalkon">
        <div>
          <img
            src="../img/gallery/cam/cam-balkon/cam-balkon-1.jpg"
            alt="Cam Balkon"
            class="img-thumbnail"
          />
          <h3>Cam Balkon</h3>
        </div>
      </button>
      <!-- Modal -->
      <div
        class="modal fade"
        id="cambalkon"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button
                type="button"
                class="btn-close bg-white"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <div class="row">
                  <div
                    class="col-md-8 " >
                    <img
                      src="../img/gallery/cam/cam-balkon/cam-balkon-1.jpg"
                      alt="Cam Balkon"
                      class="img-thumbnail"
                      
                    />
                  </div>
                  <div class="col-md-4 pt">
                    <div class="col-sm-12 ">
                      <div class="display-5 text-center">CAM BALKON</div>
                      <p class="mt-5 icerik-yazi">
                        <strong>Cam balkon</strong> sistemleri uygulandığı mekanları dış
                        etkenlerden ve kötü hava şartlarından koruyarak ilave
                        bir yaşam alanı oluşturulmasını sağlar. <strong>Cam balkon</strong>
                        uygulamaları konforlu bir kullanım ve panoramik manzara
                        sunar. Kolay kullanımı ve sahip olduğu farklı renk
                        seçenekleri ile uygulandığı alanın dekorasyonuna uyum
                        sağlar. Farklı özelliklerde camların kullanılması, <strong>Cam balkon</strong>
                         sistemlerini ısı ve ses geçirmezliği konusunda
                        daha verimli hale getirir. <strong>Katlanır Cam</strong> ve <strong>Sürme Cam</strong> sistem
                        çözümleri, tüm mekanlara fonksiyonel <strong>Cam balkon</strong>
                        uygulaması yapılmasına imkan verir.
                      </p>
                    </div>
                  </div>
              
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6 col-md-4">
      <!-- Button trigger modal -->
      <button
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#fotosellikapi"
      >
        <div>
          <img
            src="../img/gallery/cam/fotoselli-kapi/fotoselli-kapi-1.jpg"
            alt="Fotoselli Kapı"
            class="img-thumbnail"
          />
          <h3>Fotoselli Kapı</h3>
        </div>
      </button>
      <!-- Modal -->
      <div
        class="modal fade"
        id="fotosellikapi"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button
                type="button"
                class="btn-close bg-white"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <div class="row">
                  <div
                    class="col-md-8">
                    <img
                      src="../img/gallery/cam/fotoselli-kapi/fotoselli-kapi-1.jpg"
                      alt="Fotoselli Kapı"
                      class="img-thumbnail"
                    />
                  </div>
                  <div class="col-md-4 pt">
                    <div class="col-sm-12 ">
                      <div class="display-5 text-center">FOTOSELLİ KAPI</div>
                      <p class="mt-5 icerik-yazi">
                        <strong>Fotoselli Kapı</strong> elektronik kontrolünitesi ve kapı hareketleri software
                        yazılım sistemi ile desteklenerek çalışmaktadır.
                        Mekanizma gürültüsüz ve sarsıntısız çalışacak çekilde
                        tasarlanarak imal edilmiştir. İlk kurulum aşamasında
                        verilen parametreler doğrultusunda sistem encoder ile
                        hafızaya almakta ve değiştirilen parametreleri de
                        hafızasına ekleyerek optimum çalışmayı sağlamaktadır. (
                        açılma, kapanma, yavaşlama, limit switch, vs.. ayarları
                        gibi )
                      </p>
                    </div>
                  </div>
           
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
