<div class="tab-pane fade show active" id="pills-pergola-plan" role="tabpanel">
  <div class="row g-3">
    <div class="col-6 col-md-4">
      <!-- Button trigger modal -->
      <button
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#staticBackdrop"
      >
        <div>
          <img
            src="../img/gallery/pergola/otomatik-tente-21622549920.jpg"
            alt="Rolling Roof"
            class="img-thumbnail"
          />
          <h2>PERGOLA</h2>
        </div>
      </button>
      <!-- Modal -->
      <div
        class="modal fade"
        id="staticBackdrop"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-8">
                    <img
                      src="../img/gallery/pergola/otomatik-tente-2.jpg"
                      alt="Bioclimatic Pergola"
                      class="img-thumbnail"
                    />
                  </div>
                  <div class="col-md-4 pt">
                     <h3>Pergola</h3>
                     <p>

                      Değişik tarzlarda üretimi yapılabilen <strong>Pergola Sistemleri</strong> üstü açık dış mekan oturma birimleri olarak tanımlanabilir. 
                     Pergola Sistemleri her türlü hava şartlarına göre kullanıcı kişi tarafından ayarlanabilir. 
                     Sıcak ve bunaltılı bir havada bu yapıları gölge için kullanabilirsiniz. 
                     Eğer kış aylarında iseniz ve hava yağışlı ile karın güzel manzarasından, yine bu yapılar yardımıyla istifade edebilirsiniz. 
                     Dolayısıyla mevsim şartlarına göre şekil almanız gerekmez. 
                     Aksine <strong>Pergola Sistemleri</strong>, yaşanan mevsime tam anlamıyla hakim olmanızı sağlar.

                     </p>

                     






                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-4">
      <!-- Button trigger modal -->
      <button type="button" data-bs-toggle="modal" data-bs-target="#pergola2">
        <div>
          <img
            src="../img/gallery/bioclimatic-pergola/bioclimatic-pergola-21622480868.jpg"
            alt="Rolling Roof"
            class="img-thumbnail"
          />
          <h3>2.PERGOLA</h3>
        </div>
      </button>
      <!-- Modal -->
      <div
        class="modal fade"
        id="pergola2"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-8">
                    <img
                      src="../img/gallery/bioclimatic-pergola/bioclimatic-pergola-2.jpg"
                      alt="Bioclimatic Pergola"
                      class="img-thumbnail"
                    />
                  </div>
                  <div class="col-md-4 pt">deneme 2.pergola</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-4 ">
      <!-- Button trigger modal -->
      <button type="button" data-bs-toggle="modal" data-bs-target="#pergola3">
        <div>
          <img
            src="../img/gallery/rolling-roof/rolling-roof-11622549943.jpg"
            alt="Rolling Roof"
            class="img-thumbnail"
          />
          <h3>3.PERGOLA</h3>
        </div>
      </button>
      <!-- Modal -->
      <div
        class="modal fade"
        id="pergola3"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-8">
                    <img
                      src="../img/gallery/rolling-roof/rolling-roof-1.jpg"
                      alt="Bioclimatic Pergola"
                      class="img-thumbnail"
                    />
                  </div>
                  <div class="col-md-4 pt">Pergola 3.örnek</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
