<div class="tab-pane fade show active" id="pills-pergola-plan" role="tabpanel">
  <div class="row g-3">
    <div class="col-6 col-md-4">
      <!-- Button trigger modal -->
      <button
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#staticBackdrop"
      >
        <div>
          <img
            src="../img/gallery/pergola/otomatik-tente-21622549920.jpg"
            alt="Pergola"
            class="img-thumbnail"
          />
          <h4>PERGOLA</h4>
        </div>
      </button>
      <!-- Modal -->
      <div
        class="modal fade"
        id="staticBackdrop"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-8">
                    <img
                      src="../img/gallery/pergola/otomatik-tente-2.jpg"
                      alt="Pergola"
                      class="img-thumbnail"
                    />
                  </div>
                  <div class="col-md-4 pt">
                     <h3 class="display-5 text-center">Pergola</h3>
                     <p class="mt-5 icerik-yazi">

                      Değişik tarzlarda üretimi yapılabilen <strong>Pergola Sistemleri</strong> üstü açık dış mekan oturma birimleri olarak tanımlanabilir. 
                      <strong>Pergola Sistemleri</strong> her türlü hava şartlarına göre kullanıcı kişi tarafından ayarlanabilir. 
                     Sıcak ve bunaltılı bir havada bu yapıları gölge için kullanabilirsiniz. 
                     Eğer kış aylarında iseniz ve hava yağışlı ile karın güzel manzarasından, yine bu yapılar yardımıyla istifade edebilirsiniz. 
                     Dolayısıyla mevsim şartlarına göre şekil almanız gerekmez. 
                     Aksine <strong>Pergola Sistemleri</strong>, yaşanan mevsime tam anlamıyla hakim olmanızı sağlar.

                     </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-4">
      <!-- Button trigger modal -->
      <button type="button" data-bs-toggle="modal" data-bs-target="#pergola2">
        <div>
          <img
            src="../img/gallery/bioclimatic-pergola/bioclimatic-pergola-21622480868.jpg"
            alt="Rolling Roof"
            class="img-thumbnail"
          />
          <h4>Bioclimatic Pergola</h4>
        </div>
      </button>
      <!-- Modal -->
      <div
        class="modal fade"
        id="pergola2"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-8">
                    <img
                      src="../img/gallery/bioclimatic-pergola/bioclimatic-pergola-2.jpg"
                      alt="Bioclimatic Pergola"
                      class="img-thumbnail"
                    />
                  </div>
                  <div class="col-md-4 pt">
                    <h3 class="display-5 text-center">Bioclimatic Pergola</h3>
                    <p class="mt-5 icerik-yazi">
                      Modern tasarımlı dış mekan güneş, rüzgar, yağmur, kar ve diğer elementlerden koruma sağlar. Dış mekan yaşamının olağanüstü kalitesini garanti eder. 
                      <strong>Bioclimatic Pergola Sistemi</strong>, modern tasarım ve yüksek düzeyde görsel ve termal konfor ile karakterizedir.
Dönen bıçaklar, faydalı havalandırma sağlarken, güneşten mükemmel koruma sağlar. 
Bıçaklar, fazla suyu destek kolonlarından kanalize etmek üzere tasarlanmıştır. 
Kaliteli inşaat Uluslararası standartlara uygun olarak yapılır. Kuvvetli rüzgara karşı yüksek derecede direnç sağlar.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-4 ">
      <!-- Button trigger modal -->
      <button type="button" data-bs-toggle="modal" data-bs-target="#pergola3">
        <div>
          <img
            src="../img/gallery/rolling-roof/rolling-roof-11622549943.jpg"
            alt="Rolling Roof"
            class="img-thumbnail"
          />
          <h4>Rolling Roof</h4>
        </div>
      </button>
      <!-- Modal -->
      <div
        class="modal fade"
        id="pergola3"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-8">
                    <img
                      src="../img/gallery/rolling-roof/rolling-roof-1.jpg"
                      alt="Rolling Roof"
                      class="img-thumbnail"
                    />
                  </div>
                  <div class="col-md-4 pt">
                    <h3 class="display-5 text-center">Rolling Roof</h3>
                    <p class="mt-5 icerik-yazi">
                      <strong>Rolling Roof</strong> her mekânda uygulanabilecek Katlanır Çatı sistemi dünyada hiçbir açılır tavan sisteminin sunmadığı, katlanma ve toplanma hareketini bir arada sunmaktadır. 
                      Her açıda açılabilen paneller sayesinde, gün ışığından istenilen oranda faydalanma olanağı sağlar. 
                      Panellerin yaptığı katlanma hareketi sayesinde, çatıdan havalandırma yaparken gölgelendirme özelliğini kaybetmez. 
                      Sistem açıkken bile özel tasarım profiller sayesinde, yağmur ve kardan etkilenmeden havalandırma sağlar. 
                      Panellerin yaptığı katlanma hareketi sayesinde, panellerin dış temizliği çatıya çıkmaya gerek kalmadan içeriden temizlenebilir. 
                      Elektrostatik fırın boya ile renklendirilir; istenilen her renkte uygulama yapılır. Elektrostatik fırın boya sayesinde uzun ömürlüdür. 
                      Katlanır Çatı sigara yasağının uygulandığı restoran ve kafe gibi yerler için en iyi çözümdür
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
