<div class="tab-pane fade " id="pills-zip-plan" role="tabpanel">
  <div class="row g-3">
    <div class="col-6 col-md-4">
      <!-- Button trigger modal -->
      <button
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#zipperde"
      >
        <div>
          <img
            src="../img/gallery/zip-perde/yan-zip-perde-1.jpg"
            alt="Zip Perde"
            class="img-thumbnail"
          />
          <h4>Zip Perde</h4>
        </div>
      </button>
      <!-- Modal -->
      <div
        class="modal fade"
        id="zipperde"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="zipperdeLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-8">
                    <img
                      src="../img/gallery/zip-perde/yan-zip-perde-1.jpg"
                      alt="Pergola"
                      class="img-thumbnail"
                    />
                  </div>
                  <div class="col-md-4 pt">
                     <h3 class="display-5 text-center">Zip Perde</h3>
                     <p class="mt-5 icerik-yazi">

                      <Strong>Zip perde</Strong> ya da bilinen adıyla <Strong>fermuarlı perde</Strong>, bir dış cephe motorlu perde sistemidir. 
                      <Strong>Zip perde</Strong> ile güneşin etkisinden korunurken, delikli kumaş yapısı sayesinde görüş keyfinizi engellemez. 
                      Dış ortama dayanıklı özel kumaşlar, 
                      yandaki kanal içerisinde hareket eder ve bu sayede rüzgar ve yağış gibi zorlu ortam koşullarına direnç ve da yanıklılık gösterebilmektir.

                      Güneş ışınlarından etkilenmeden, mekanınızın tüm alanlarını kullanmanızda mükemmel konfor sağlar. 
                      Kumaşın delikli yapısı sayesinde güneşten korunurken temiz hava sirkülasyonu da sağlar.
                     </p>

                     <p class="mt-5 icerik-yazi">
                      <Strong>Zip perde</Strong> sisteminin kumaş özelliği Yağmur suyunu dışarda bırakarak, seyir keyfinizi bozmadan mekanınızda konforlu kullanım sağlar.
                      Kumaşın delikli yapısı ve fermuar sayesinde rüzgâra karşı çok daha dayanıklıdır. 
                      Fermuar sayesinde kumaş, ürünün yan kanallarından kurtulmaz.
                      zel kumaş yapısı sayesinde, İç mekandan dış ortamı rahatlıkla izleyebilirsiniz. 
                      Dış ortamdan iç mekana ise karartma yaparak görsel teması en aza indirir.
                      Bir çok özelliği bir arada sunan <Strong>Zip perde</Strong> sistemi, sinek, haşere, vb. gibi rahatsız eden durumlardan da sizi koruyacaktır.
                     
                     </p>

                     
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-4">
      <!-- Button trigger modal -->
      <button type="button" data-bs-toggle="modal" data-bs-target="#tavan-zip-perde">
        <div>
          <img
            src="../img/gallery/tavan-zip-perde/tavan-zip-perde-1.jpg"
            alt="Tavan Zip Perde"
            class="img-thumbnail"
          />
          <h4>Tavan Zip Perde</h4>
        </div>
      </button>
      <!-- Modal -->
      <div
        class="modal fade"
        id="tavan-zip-perde"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="tavan-zip-perdeLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-8">
                    <img
                      src="../img/gallery/tavan-zip-perde/tavan-zip-perde-1.jpg"
                      alt="Tavan Zip Perde"
                      class="img-thumbnail"
                    />
                  </div>
                  <div class="col-md-4 pt">
                    <h3 class="display-5 text-center">Tavan Zip Perde</h3>
                    <p class="mt-5 icerik-yazi">
                      Kolay kullanımıyla dikkat çeken ve son derece dayanıklı bir perde çeşidi olan <Strong>Zip perde</Strong>, güneş, 
                      rüzgar ve yağmur gibi dış faktörlerden korunmak amacıyla tasarlanan perdelerdir. 
                      Modern ve Estetik Görünümleriyle Dikkat Çeken <Strong>Zip perde</Strong> Teknolojik ve modern bir perde olan <Strong>Zip perde</Strong>, 
                      ticari işletmeler, konutlar, alışveriş merkezleri gibi alanlarda sıklıkla tercih edilmektedir.

                      Asıl amacı güneş ve rüzgarın olumsuz etkilerinden korunmayı sağlamak olan Zip Perdeler sayesinde bu ve benzeri problemlerinize estetik ve akılcı çözümler bulabilirsiniz. 
                      <Strong>Zip perde</Strong> modellerimizden dilediğinizi seçip yazlığınıza, kış bahçenize veya evinize uygulayabilirsiniz. 
                      Yaşam alanlarınızı daha kaliteli ve şık bir hale getirmek istiyorsanız <Strong>Zip perde</Strong> modellerine mutlaka göz atmalısınız.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

